:root{
    --textbox_height: 5vmin;
    --text_fontSize: 2.5vmin;
    --color1:  rgba(114, 84, 3, 0.698);
    --margin_default: 15px;
    --instructions_height: 15vh;
    --color_less_emphasis: rgba(0, 0, 0, 0.705);
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
h2{
    text-align: center;
    margin: calc(var(--margin_default)) 0;
    font-weight: 700;
    font-size: calc(var(--text_fontSize)*1.53396);
}
label {
    text-align: center;
    font-weight: 350;
    font-size: calc(var(--text_fontSize)*1.5);
}
p {
    color: var(--color_less_emphasis);
    font-size: calc(var(--text_fontSize)*1.25);
}
button:hover{
    background-color:  rgb(39, 31, 31);
}
.container_content{ 
    position: relative;
    background-color: w;
    color: black;
    width: 90%;
    height: 100vh;
    margin: auto;
}
    .content{
        background-color: green;
        height: 100vh;
    }
        .btn_start{
            display: flex;
            justify-content: center;
            align-content: center;
        }
        .round_text{
            background-color: orange;
            text-align: center;
            align-content: center;
            height: var(--instructions_height);
        }
        .choice_stuff{
            background-color: yellow;
            width: 100%;
            text-align: center;
        }
        .choice_buttons {
            background-color: beige;
            display: flex;
            justify-content: center;
            align-content: center;
        }
            .btn_default{                
                background-color: rgb(32, 32, 32);
                color: white;
                margin: auto;
                border: 1px solid var(--color1);
                max-height: 100%;
                width: calc(var(--textbox_height)*5);
                height: calc(var(--textbox_height)*5*.618);
                font-size: calc(var(--textbox_height)*.8);
                text-align: center;

            }
            .btn_choice {
                width: calc(var(--textbox_height)*5);
                height: calc(var(--textbox_height)*5*.618);
                justify-self: center;
                visibility: hidden;
            }
            .buttons_visible{
                visibility: visible;
            }
                #btn_start{
                    margin: var(--margin_default) 0;
                }
                #btn_rock{
                    margin: 0 0 0 0;
                }
                #btn_paper{
                    margin: 0 var(--textbox_height);

                }
                #btn_scissors{
                    margin: 0 0 0 0;
                }
        .scoring{
            margin: var(--margin_default) 0;
            background-color: purple;
            position: relative;
            max-width: 100%;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, 50%);
            grid-template-rows: repeat(2, 50%);
            border: 1px solid white;
            justify-items: center;
            align-items: center;
        }
        .scoring div {
            background-color: teal;
            justify-self: c;

        }
        
        .scoring :nth-child(n+3) div :nth-child(n+2){
            background-color: yellow;
            margin: 0 0 0 calc(var(--margin_default)/3);
            border-right:1px solid black;
        }
        .score_header{
            font-size: calc(var(--text_fontSize)*1.75);
            margin: 0 calc(var(--margin_default)/2);

        }
        .scoring :nth-child(n+3) p{
            font-size: calc(var(--text_fontSize)*1.2);
        }
            .your_scores{
                max-width: 100%;
                grid-row: 1;
                grid-column: 1;
                display: flex;
                justify-content: center;
                align-content: center;
                width: 100%;
                border-right: 1px solid black;
                border-bottom: 1px solid black;

            }
            .your_score_details{
                grid-row: 2;
                grid-column: 1;
                display: grid;
                grid-template-columns: repeat(3, 33%);
                max-width: 100%;
                width: 100%;
                justify-items: center;
                border-right: 1px solid black;
            }
            .your_score_details *{
                display: flex;
            }
            .computer_scores{
                grid-row: 1;
                grid-column: 2;
                display: flex;
                justify-content: center;
                align-content: center;
                width: 100%;
            }
            .computer_score_details{
                background-color: red;
                grid-row: 2;
                grid-column: 2;
                display: grid;
                max-width: 100%;
                width: 100%;
                grid-template-columns: repeat(3, 33%);
                justify-items: center;
            }
            .computer_score_details *{
                display: flex;
            }
            .computer_score_details div :nth-child(n+2) {
                margin: 0 0px;
                align-self: center;
            }

#textbox_number_of_games{
    max-height: cal(var(--textbox_height));
    height: calc(var(--textbox_height));
    width: calc(var(--textbox_height));
    position: relative;
    top:2.5%;
    text-align: center;
    font-size: calc(var(--text_fontSize)*2);
    margin: calc(var(--margin_default));
}

#instructions {
    height: calc(var(--instructions_height));
    padding: calc(var(--instructions_height)/2.6) 0 0 0;
    font-weight: 600;
    color: black;
}
